.App {
  text-align: center;
  max-width: 100%;
  width: 100%;
  /* display: flex; */
  /* justify-content: center; */
}

.card {
  width: 180px;
  height: 280px;
  background-color: bisque;
  margin: 12px 12px;
  border-radius: 8px;
}

.side {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 350px;
  background-color: aqua;
  margin-bottom: 30px;
}

.board {
  width: 100%;
}
